html {
  font-size: 15px;

  @include breakpoint($medium) {
    font-size: 17px;
  }

  @include breakpoint($large) {
    font-size: 17px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }
}

.page__content p {
  font-size: 0.9em;
}
